.heading h1{
    margin-top: 115px;
    text-transform: uppercase;
    font-size: 16px !important;
    color: var(--bg-color);
    text-align: left;
}

.content{
    margin-bottom: 25px;
}

.content h2{
    margin-top: 20px;
    margin-bottom: 20px;
}

.content h2 strong{
    font-weight: bolder;
    font-size: 1.8rem;
    padding-top: 16px;
}

.content p{
    line-height: 2;
    font-size: 18px;
}

.content img{
    height: 500px;
    display: block;
    padding-left: 50px;
    padding-right: 50px;
}