
@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Cormorant+Garamond:wght@300&family=Playfair+Display:wght@400;700&family=Poppins:wght@400;700&family=Roboto:wght@300&display=swap');

/*============================================*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-color:#FFFAEF;
    --text-color:#ffe46b;
    --bg-color:#000000;
    --hover:#2c1200;
    --red-coler:#a70000;
    --trang:#ffffff;
}
body{
    font-family: 'Roboto', sans-serif;
}
img{ width: 100%;}
ul{list-style: none;}
a{text-decoration: none}
header{
    padding: sticky ;
    top: 0px;
    width: 100%;
    z-index: 1000;
    position: fixed;
}
header.shadow{
    background: var(--hover);
    box-shadow: 4px 4px 20px rgb(15 54 55/ 10%);
    transition: 0.5s; 
}
header.shadow .nav-link > a{
    color: var(--trang);
}
header.shadow .btn_booking{
    color: var(--trang);
    border: 2px solid var(--trang);
}
header.shadow .booking i,
header.shadow .logo span{
    color: var(--trang);
}
body::-webkit-scrollbar{
    width: 0.5rem;
    background: var(--main-color);
}
body::-webkit-scrollbar-thumb{
    background: var(--hover);
    border-radius: 5rem;
}
.nav_container{
    max-width: 65rem;
    padding: 0 2rem;
    height: 3rem;
    margin: 0 auto;
    display: flex;
    position: relative;
}
.logo_container{
    flex: 1;
    display: flex;
    align-items: center;
}
.nav_buttom{
    flex: 6;
    display: flex;
}
.nav-links{
    flex: 2;
}
.booking{
    flex: 1;
}
.logo{
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 2rem;
    border: 3px solid var(--main-color);
}
.logo span{
    font-weight: 800;
    color: var(--bg-color);
}
.booking{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.btn_booking{
    display: inline-block;
    padding: .5rem 1.3rem;
    font-size: .8rem;
    border: 2px solid var(--hover);
    border-radius: 2rem;
    line-height: 1;
    margin: 0 .2rem;
    transition: .3s;
    color: var(--bg-color);
    text-transform: uppercase;
    font-weight: 800;
}
.btn_booking:hover{
    background-color:var(--text-color);
    color: var(--bg-color);
    transform: scale(1.2);
    box-shadow: 0 0 0 5px #ffd0006f;
}
/* Search */
.booking i{
    color: var(--bg-color);
    margin: 20px;
    cursor: pointer;
    font-size: 1.2rem;
}
.search-box{
    position: absolute;
    top:110%;
    right:-100%;
}
.search-box input{
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    width: 280px;
    box-shadow: 2px 2px 10px 4px rgb(14 55 54/ 15%);
}
.search-box.active {
    right: 1rem;
    transition: 0.5s;
}
.nav-links > ul{
    display:flex;
    justify-content: center;
    align-items: center;
}
.nav-link{
    position: relative;
}
.nav-link > a{
    line-height: 3rem;
    color: var(--bg-color);
    padding: 0 .8rem;
    font-size: .95rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
    font-weight: 600;
}
.nav-link > a > i{
    margin-left: .2rem;
}
.nav-link:hover > a{
    transform: scale(1.2);
}
.dropdown{
    position: absolute;
    top:100%;
    left: 0;
    width: 10rem;
    transform: translateY(10px);
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}
.dropdown ul{
    position: relative;
}
.dropdown-link > a{
    display: flex;
    background-color: var(--main-color);
    color: var(--bg-color);
    padding: .5rem 1rem;
    font-size: .9rem;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
}
.dropdown-link:not(:nth-last-child(2)){
    border-bottom: 1px solid #00000034;
}
.dropdown-link:hover > a{
    background-color: var(--hover);
    color: var(--trang);
}
.dropdown-link i{
    transform: rotate(-90deg);
}
.arrow{
    position: absolute;
    width: 11px;
    height: 11px;
    top:-5.5px;
    left: 32px;
    background-color: var(--main-color);
    transform: rotate(45deg);
    cursor: pointer;
    transition: .3s;
    z-index: 1;
}
.dropdown-link:first-child:hover ~ .arrow{
    background-color: var(--hover);
}
.dropdown.second{
    top: 50px;
    left: 100%;
    padding-left: .8rem;
    cursor: pointer;
    transform: translateX(10px);
}
.dropdown.second .arrow{
    top: 10px;
    left: -5.5px;
}
.nav-link:hover > .dropdown, 
.dropdown-link:hover > .dropdown{
    transform: translate(0,0);
    opacity: 1;
    pointer-events: auto;
}
.hamburger-menu-container{
    flex: 1;
    display: none;
    align-items: center;
    justify-content: flex-end;
}
.hamburger-menu{
    width: 2.5rem;
    height: 2.5rem;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.hamburger-menu div{
    width: 1.6rem;
    height: 3px;
    border-radius: 3px;
    background-color: var(--bg-color);
    position: relative;
    z-index: 1001;
   transition: .5s;
}
.hamburger-menu div::before{
    transform: translateY(-7px);
}
.hamburger-menu div::after{
    transform: translateY(7px);
}
.hamburger-menu div::before,
.hamburger-menu div::after{
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: var(--bg-color);
    border-radius: 3px;
    transition: .5s;
}
#check {
    position: absolute;
    top:50%;
    right: 2rem;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    z-index: 90000;
    cursor: pointer;
    opacity: 0;
    display: none;
}
#check:checked ~ .hamburger-menu-container
.hamburger-menu div{
    background-color: transparent;
}
#check:checked ~ .hamburger-menu-container
.hamburger-menu div::before{
    transform: translateY(0) rotate(-45deg);
}
#check:checked ~ .hamburger-menu-container
.hamburger-menu div::after{
    transform: translateY(0) rotate(45deg);
}
/*-------------------------------------------------------------------------------------*/
#body-lienhe{
    height: 120vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--main-color);
}
.form-lienhe{
    max-width: 100%;
    width: 60%;
    background: var(--trang);
    border-radius: 20px;
    margin: 0 20px;
    box-shadow: 0 5px 10px rgb(0,0,0,0.15);
}
.form-lienhe .lienhe-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 20px;
}
.lienhe-box .image-box{
    max-width: 55%;
    height: 425px;
    margin-top: 12px;
}
.lienhe-box .image-box img{
    width: 100%;
   
}
.lienhe-box .topic{
    font-size: 22px;
    font-weight: 800;
    color: var(--text-color);
}
.lienhe-box form{
    width: 40%;
    margin-right: 30px;
}
.lienhe-box .input-lienhe{
    height: 50px;
    width: 100%;
    margin: 16px 0;
    position: relative;
}
.lienhe-box .input-lienhe input{
   position: absolute;
   height: 100%;
   width: 100%;
   padding-left: 16px;
   border-radius: 6px;
   font-size: 1rem;
   outline: none;
   border: 2px solid transparent;
   background: var(--main-color);
   transition: all 0.3 ease;
}
.lienhe-box .input-lienhe input:focus,
.lienhe-box .input-lienhe input:valid{
    border-color: var(--hover);
    background-color: var(--trang);
}

.lienhe-box .input-lienhe label{
    position: absolute;
    left: 18px;
    top:50%;
    color: #636c72;
    font-size: 1rem;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3 ease;
}
.lienhe-box .input-lienhe input:focus ~ label,
.lienhe-box .input-lienhe input:valid ~ label{
    top: 0;
    left: 12px;
    color: #636c72;
    background: var(--trang);
    display: 14px;
}

.lienhe-box .messager-lienhe{
    min-height: 100px;
    position: relative;
}
.lienhe-box .messager-lienhe textarea{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    outline: none;
    resize: none;
    background-color: var(--main-color);
    border: 2px solid transparent;
    transition: all 0.3 ease;
}
.lienhe-box .messager-lienhe textarea:focus{
    border-color: var(--hover);
    background: var(--trang)
}
.lienhe-box .messager-lienhe label{
    position: absolute;
    font-size: 1rem;
    color: #636c72;
    left: 18px;
    top: 6px;
    pointer-events: none;
    transition: all 0.3 ease;
}
.lienhe-box .messager-lienhe textarea:focus ~ label{
    left: 12px;
    top: -10px;
    color: var(--hover);
    font-size: 1rem;
    background: var(--trang);
}
.lienhe-box .input-lienhe input[type="submit"]{
    padding-left: 0;
    font-size: 18px;
    font-weight: 500;
    color: var(--trang);
    background: var(--hover);
    cursor: pointer;
    letter-spacing: 1px;
    transition: all 0.3 ease;
}
.lienhe-box .input-lienhe input[type="submit"]:hover{
    background: var(--text-color);
}
/*-------------------------------*/
.text {
    font-weight: 300;
    opacity: 0.9;
}
.contact-body .text{
    margin: 16px 0;
}
.contact-body{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1rem;
}
.contact-info{
    margin: 2rem 0;
    text-align: center;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.contact-info span{
   display: block;
}
.contact-info div{
    margin: 0.8rem 0;
    padding: 1rem;
    border-radius: 30px;
    border: 2px solid var(--text-color);
    background: var(--main-color);
}
.contact-info span .fa-solid, .fa-regular{
    font-size: 2rem;
    padding: 0.9rem;
    color: var(--hover);
}
.contact-info div span:nth-child(2){
    font-weight: 500;
    font-size: 1.1rem;
}
.contact-info .text{
    padding-top: 0.4rem;

}





/*--------------------------ĐĂNG KÝ NHẬN THÔNG TIN---------------------------------------- */
.newletter{
    background: linear-gradient(to top right,#ffe46b,#FBAD50);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
.newletter h2{
    color: var(--bg-color);
    font-size: 1.5rem;
    text-transform: uppercase;
}
.box_newletter{
    margin-top: 1rem;
    background: var(--trang);
    border-radius: 0.5rem;
    padding: 5px 5px;
    width: 370px;
    height: 55px;
    display: flex;
    justify-content: space-between;
}
.box_newletter input{
    border: none;
    outline: none;
}
.box_newletter .btn_newletter{
    background: var(--hover);
    color: var(--trang);
    padding: 13px 33px;
    border-radius: 0.5rem;
}
.box_newletter .btn_newletter:hover{
    color: var(--trang);
    background: linear-gradient(to top right,#ffd000,#ff8c00);
}
.newletter h2 i{
    color: var(--red-coler);
}
/*---------------------------------- FOOTER---------------------------------------- */
.container {
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.footer{
    background: var(--main-color);
    color: #000;
    padding-top: 50px;
    padding-bottom: 50px
}
.footer-container{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.footer-container .logo{
    color: var(--bg-color);
    margin-bottom: 1rem ;
    border: none;
}
.footer-container .footer-box{
    display: flex;
    flex-direction: column;
}
.social{
    display: flex;
    align-items: center;
}
.social a{
    font-size: 1.5rem;
    color: var(--bg-color);
    margin-right: 1rem;
}
.footer-box h3{
    font-size: 1.1rem;
    font-weight: 800;
    margin-bottom: 1rem;
}
.footer-box a,
.footer-box p {
    color: var(--red-coler);
    margin-bottom: 10px;
}
.footer-box a:hover{
    color: var(--text-color);
}
.copyright{
    padding: 5px;
    text-align: center;
    color: var(--bg-color);
    font-weight: 600;
    background: linear-gradient(to top right,#ffe46b,#FBAD50);
}
.footer-box .bx_icon  {
    background: linear-gradient(to top right,#ffe46b,#FBAD50);
    padding: 2px;
    font-size: 2rem;
    border-radius: 45%;
    border: 2px solid rgb(2,3,7,0.4);
    color: var(--trang);
}
.footer-box .one:hover{
    background: rgb(36, 84, 240);
    color: var(--trang);
    transition: 0.2s all linear;
}
.footer-box .two:hover{
    background: rgb(64, 141, 224);
    color: var(--main-color);
    transition: 0.2s all linear;
}
.footer-box .three:hover{
    background: linear-gradient(#8A3AB9,#E95950,#BC2A8D,#FCCC63,#FBAD50,#CD486B,#4C68D7);
    color: var(--trang);
    transition: 0.2s all linear;
}
.footer-box .four:hover{
    background: var(--red-coler);
    color: var(--main-color);
    transition: 0.2s all linear;
}
/*=============================================================================*/
.content{
    margin-bottom: 25px;
}

.content h2{
    margin-top: 20px;
    margin-bottom: 20px;
}

.content h2 strong{
    font-weight: bolder;
    font-size: 1.8rem;
    padding-top: 16px;
}

.content p{
    line-height: 2;
}