@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,700;0,800;1,200;1,400;1,600;1,700;1,800&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
}

nav{
    max-width: 1200px;
    margin: auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-logo{
    max-width: 100px;
}

.nav-link{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

li a{
    position: relative;
    padding-bottom: .75rem;
    color: #000
}

li a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: lightslategrey;
    transition: all .3s ease;
}

li a:hover::after{
    width: 75%;
}

.btn{
    padding: 1rem 2rem;
    font-display: 1rem;
    background-color: #1d4ed8;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease;
    color: #fff;
}

.btn:hover{
    background-color: #1e40af;
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 5rem;
}

.blur{
    position: absolute;
    box-shadow: 0 0 1000px 50px #1d4ed8;
    z-index: -100;
}

header{
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

header .content h4{
    margin-bottom: 1rem;
    color: #756e6e;
    font-size: 1rem;
    font-weight: 600;
}

header .content h1{
    color: #000;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}

header .content h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #000;
}

header .content p{
    margin-bottom: 2rem;
    color: #000;
}

header .image{
    position: relative;
}

header .image::before{
    content: "o";
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 38rem;
    font-weight: 400;
    line-height: 20rem;
    color: #1e40af;
    opacity: 0.2;
    z-index: -100;
}

header .image img{
    max-width: 600px;
    margin: auto;
}

section .header{
    margin-bottom: 1rem;
    color: #000;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}

.features{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.features .card{
    background-color: #756e6e;
    padding: 1rem;
    border-radius: 15px;
    border: 2px solid transparent;
    transition: all .3 ease;
}

.features .card:hover{
    background-color: #756e6e;
    border-color: #000;
}

.features .card span{
    display: inline-block;
    background-color: #1e40af;
    padding: 2px 9px;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: #000;
    border-radius: 5px;
}

.features .card h4{
    margin-bottom: .5rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600S;

}

.features .card p{
    color: #ccc;
    margin-bottom: 1rem;
}

.features .card a{
    color: #fff;
    transition: all .3s ease;
}

.features .card a:hover{
    color: #1e40af;
}

.sub-header{
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: #000;
}

.pricing{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.pricing .card{
    padding: 3rem 2rem;
    background-color: #27227272;
    display: flex;
    flex-direction: column;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all .3s ease;
}

.pricing .card:hover{
    background-color: #756e6e;
    border-color:#575454;
    border: 2px solid #ccc;

}

.pricing .card .contennt{
    flex: 1;
    margin-bottom: 3rem;
}

.pricing .card h4{
    margin-bottom: 1rem;
    color: #fff;
    font-size: 1.2rem;
}

.pricing .card h3{
    color: #fff;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    border-bottom: 2px dashed #fff;
}

.pricing .card p{
    color: #fff;
    margin-bottom: .75rem;
}

.pricing .card p i{
    color: #ccc;
    font-size: 1.2rem;
    margin-right: .3rem;
}

.pricing .card button{
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
}

.pricing .card button:hover{
    background-color: #1e40af;
    border-color: #1e40af;
}

footer {
    position: relative;
    display: grid;
    grid-template-columns: 400px repeat(4, 1fr);
    gap: 2rem;
}

footer .colum .log{
    max-width: 100px;
    margin-bottom: 2rem;
}

footer .colum p{
    color: #685a5a;
    margin-bottom: 2rem;
}

footer .colum .social{
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer .colum .social a{
    color: #685a5a;
    border: 1px solid #685a5a;
    padding: 5px 10px;
    font-size: 1.25rem;
    border-radius: 100%;
    transition: all .3s ease;
}

footer .colum .social a:hover{
    color: #fff;
    background-color: #1e40af;
    border-color: #1d4ed8;
}

footer .colum h4{
    color: #000;
    margin-bottom: 2rem;
    font-size: 1rem;
    font-weight: 500;
}

footer .colum > a{
    display: block;
    color: #3d3939;
    margin-bottom: .5rem;
    transition:  all .3s ease;
}

footer .colum > a:hover{
    color: #1d4ed8;
}

.copyright{
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    color: #000;
    font-size: 0.8rem;
    text-align: center;

}


@media (width < 900px){
    .nav-link{
        display: none;
    }
    header{
        grid-template-columns: repeat(1, 1fr);
    }
    header .image{
        grid-area: 1/1/2/2;
    }
    .features{
        grid-template-columns: repeat(2,1fr);
    }
    .pricing{
        grid-template-columns: repeat(2,1fr);

    }
    footer{
        grid-template-columns: 1fr 250px;
    }
}

@media( width < 600px){
    header .image::before{
        display: none;
    }
    .features{
        grid-template-columns: repeat(1, 1fr);
    }
    .pricing{
        grid-template-columns: repeat(1, 1fr);
    }
    footer{
        grid-template-columns: 1fr 150px;
    }
}