.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}



.grid__column-2{
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-2-4{
    padding-left: 15px;
    padding-right: 5px;
    width: 20%; 
}

.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
}


/* san pham */


/* App container */
.app__container{
    background-color: #fff8f8;
}

.app__content{
    padding-top: 90px;
    padding-bottom: 50px;
}

.category{
    background-color: #fff;
    border-radius: 2px;

}

.category__heading{
    font-size: 15px;
    color: var(--text-color);
    padding: 12px 16px 0;
    margin-top: 0;
    text-transform: uppercase;
    /* border-bottom: 1px solid rgba(212, 212, 212, 0.5); */
}

.category-list{
    padding: 0 0 10px 0;
    list-style: none;
}

.category-item{
   position: relative;
   padding:  0 4px;
}

.category-item:first-child::before{
    display: none;
}

.category-item::before{
    content: "";
    border-top: 1px solid #e1e1e1;
    position: absolute;
    top: 0;
    left: 16px;
    right: 16px;
}

.category-item__active .category-item__link{
    color: var(--primary-color);
}

.category-item__active .category-item__link::after{
    position: absolute;
    top: 50%;
    left: 14px;
    content: "";
    border: 4px solid;
    transform: translateY(-50%);
    border-color:transparent transparent transparent var(--primary-color) ;
}

.category-item__link{
    position: relative;
    display: block;
    font-size: 15px;
    color: var(--text-color);
    text-decoration: none;
    padding: 8px 22px;
    transition: right linear 0.1s;
    right: 0;
}

.category-item__link:hover{
    right: -4px;
    color: var(--primary-color);
}

/* Home sort + filter */
.home-filter{
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    padding: 12px 22px;
    border-radius: 2px;
    align-items: center;
}

.home-filter__label{
    font-size: 14px;
    color: #555;
    margin-right: 16px;
    text-transform: uppercase;
}

.home-filter__btn{
    min-width: 90px;
    margin-right: 12px;
}

.home-filter__page{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num{
    font-size: 14px;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current{
    color:var(--primary-color);
}

.home-filter__page-control{
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 60px;
    height: 30px;
}

.home-filter__page-btn{
    flex: 1;
    display: flex;
    background-color: var(--white-color);
    text-decoration: none;
}

.home-filter__page-btn--disabled{
    cursor: default;
    background-color: #f9f9f9;
}

.home-filter__page-btn--disabled .home-filter__page-icon{
    color: #ccc;
}

.home-filter__page-btn:first-child{
    border-right: 1px solid #eee;
}

.home-filter__page-icon{
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}

/* Product item */
.home-product__item-wrapper{
    margin-bottom: 12px;
}

.home-product-item{
    position: relative;
    margin-top: 10px;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    transition: transform linear 0.1s;
    will-change: transform;
    text-decoration: none;
    display: block;
}

.home-product-item:hover{
    transform: translateY(-5px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}

.home-product-item__img{
    padding-top: 100%;
    background-size: contain;
    background-position: top center;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.home-product-item__name{
    font-size: 15px;
    font-weight: 500;
    color: var(--text-color);
    line-height: -0.2rem;
    margin: 10px 10px 6px;
    height: 36px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;

}

.home-poduct-item__price{
    display: flex;
    margin: 10px;
    justify-items: baseline;
    flex-wrap:wrap;
}

.home-product-item__price-old{
    font-size: 15px;
    color: #666;
    text-decoration: line-through;
}

.home-product-item__price-cur{
    font-size: 16px;
    color: rgba(255, 216, 64, 0.902);
    margin-left: 6px;
}

.home-product-item__action{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.home-product-item__like{
    font-size: 12px;
}

i.home-product-item__like-icon-fill{
    color: #f63d30;
    display: none;
}

.home-product-item__like--liked .home-product-item__like-icon-fill{
    display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty{
    display: none;
}

/* .home-product-item__like--liked  */

.home-product-item__rating{
    font-size: 1rem;
    transform: scale(.8);
    transform-origin: right;
    color: #adabab;
    margin: -1px 0 0 auto;
}

.home-product-item-gold{
    color: var(--star-gold-color);
}

.home-product-item__sold{
    font-size: 12px;
    color: var(--text-color);
    margin-left: 6px;
}

.home-product-item__origin{
    display: flex;
    margin:3px 10px 0;
    color: #595959;
    font-size: 12px;
    
}

.home-product-item__brand{

}

.home-product-item__origin-name{
    margin-left: auto;
}

.home-product-item__favourite{
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: #f77358;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius:3px;
}

.home-product-item__favourite::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.home-product-item__favourite span{
    color: var(--text-color);
}

.home-product-item__favourite i{
    font-size: 10px;
    margin: 0 2px 0 5px;
    color: var(--white-color);
}

.home-product-item__sale-off{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    background-color: rgb(255, 216, 64, 0.9);
    text-align: center;
    border-top-right-radius: 3px;
}

.home-product-item__sale-off::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    border-width: 0 20px 5px;
    border-style: solid;
    border-color:transparent rgba(255, 216, 64, 0.902) transparent rgb(255, 216, 64, 0.9);
}

.home-product-item__sale-off-percent{
    font-size: 13px;
    line-height: 13px;
    color: #EE4D2D;
    position: relative;
    top: -1px;
}

.home-product-item__sale-off-label{
    font-size: 12px;
    line-height: 12px;
    color: var(--white-color);
    position: relative;
    top: 0;
     

}

.home--pagination{
    margin: 48px 0 32px 0;
}

/* Pagination */
.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;

}

.pagination-item{
    margin: 0 13px;
}

.pagination-item--active .pagination-item__link{
    background-color: var(--primary-color);
    color: var(--white-color);
}

.pagination-item--active .pagination-item__link{
    background-color: #ed5c3f;
}

.pagination-item__link{
    --height:30px;
    display: block;
    text-decoration: none;
    font-size: 16px;
    color: #939393;
    min-width: 40px;
    height: var(--height);
    text-align: center;
    line-height: var(--height);
    border-radius: 2px;
}

button {
    background-color: rgba(255, 216, 64, 0.902);
    color: #fff;
    border:none;
    width: 90px;
    height: 35px;
    line-height: 30px;
    margin: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover{
    background: var(--white-color);
    border: 1px solid rgba(255, 216, 64, 0.902);
    color: #000;
}