
/* #991b1b */
/* #b91c1c */

body{
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}
.container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main{
  /* text-align: center;
  margin: 100px auto 100px auto; */
}
.oops{
  font-weight: 700;
  color: #375151;
  font-size: 110px;
  text-transform: uppercase;
  /* background-color: ; */
}
.not-found{
  font-size: 20px;
  font-weight: 700;
  color: #375151;
  margin-bottom: 20px;
}
button{
  border:none;
  text-align: center;
  border-radius: 10px;
  box-shadow: none rgba(0, 0, 0, 0.06);
  transition: all 0.3s;
  font-weight: 600;
  /* width: 20%; */
  font-size: 14px;
  padding: 12px 16px;
  font-weight: 600;
  color: #fff0f0;
  background-color: #b91c1c;
}
button:hover{
  cursor: pointer;
  background-color: #991b1b;
}
