@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,700;0,800;1,200;1,400;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppin', sans-serif;
}

.header{
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;
    background-color: #fff;
}

li a{
    text-decoration: none;
}

.opp{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.main{
    display: flex;
    margin: 10px;
    justify-content: space-between;
}

.logo img{
    width: 140px;
    height: 85px;
    padding-inline-start: 70px;
    cursor: pointer;
}

nav{
    align-items: center;
    text-align: center;
}

.menu_item ul{
    display: flex;
    padding: 30px;
    list-style: none;
}

.item_s a{
    padding-right: 30px;
}

.item_s a{
    position: relative;
    padding-bottom: .75rem;
    color: #000
}

li a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(115,103,240,1);
    transition: all .3s ease;
}

li a:hover::after{
    width: 65%;
    color: rgba(115,103,240,1);
}

.btn-main{
    padding-block-start: 15px;
    margin-left: 25px;
}

.btn{
    width: 100px;
    height: 45px;
    cursor: pointer;
}

.color-1{
    background-color: transparent;
    border: deeppink;
}

.color-2{
    background-color: rgba(115,103,240,1);
    border: white;
    border-radius: 10px;
    color: #fff;
}

.title_1{
    margin-block-start: 105px;
    background-size: cover;
    width: 100%;
    height: 770px;
    background-image: url(https://lh3.googleusercontent.com/T5Rq1xmYd_u8pML_6y_ievqA-qzj-z6SCvOfB-uhPyOmaCdoatJYPfsQgT5BvddHxIXBe1mRZq3yujPwlTJjA10BXaJL6vU9=w960);
}

.title_content-1{
    margin-top: 25px;
    text-align: center;
}

.title_content-1 .item_content{
    font-size: 45px;
    padding: 15px;

}

.title_content-1 .item_content-2{
    font-size: 35px;
    padding: 7px;
}

.title_btn{
    display: flex;
    justify-content: center;

}

.btn2{
    margin: 25px 0px 0px 15px;
    width: 250px;
    height: 48px;
}

.btn_cl-1{
    background-color: transparent;
    border: #fff;
    color: #000;
    cursor: pointer;
}


.btn_cl-2{
    background-color: rgba(115,103,240,1);
    border-radius: 10px;
    color: #fff;
    border: #fff;
}

.btn_cl-2:hover{
    background-color: #f7c94a;
}

.title_clip{
    display: flex;
    justify-content: center;
    padding: 40px;
}

.title_clip video{
    width: 1202px;
    height: 677px;
}

video{
    display: inline-flex;
    align-items: center;
}

.conten_sec-1 .sec_tile{
    display: flex;
    justify-content: center;
    padding-block-start: 250px;
    margin: 80px;
}

.tile h4{
    padding: 0 0 25px;
    font-size: 45px;
}

.with{
    width: 50%;
}

.tile .tile_hear{
    padding: 0 0 10px;
    font-size: 23px;
}

.tile .tile_content{
    padding: 0px 25px 20px 0px;
    font-size: 24px;
}

.tile .btn3{
    width: 250px;
    height: 55px;
    background-color: rgba(115,103,240,1);
    color: #fff;
    font-size: 19px;
    border: #fff;
    border-radius: 10px;
}

.btn3:hover{
    cursor: pointer;
    background-color: #f7c94a;
}
